<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Vivek Gupta</h2>
            <h4>vivek.gupta85@email.com</h4>
        </div>
        <img src="https://drive.google.com/file/d/1wqDiJYxjRFx9YHW7cDwypfeDWxsjz8LM/view?usp=sharing" alt="image"> 
    </div>

    <mat-divider></mat-divider>
    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">User Maintenance</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

</mat-nav-list>
