<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Vivek Gupta</h2>
            <h4>vivek.gupta85@email.com</h4>
        </div>
        
    </div>

    <mat-divider></mat-divider>
    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/users">User Maintenance</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Profile</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        About Me
    </a>

</mat-nav-list>
